@charset "UTF-8";
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: linear-gradient(to right, #89f7fe, #66a6ff);
    color: #333;
    padding: 20px;
}

h3 {
    color: #007bff;
    text-align: center;
    font-size: 24px;
}

/* Form Styles */
form button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Green button */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form label styling */
form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    margin:10 px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    color: #0056b3;
}
